doctype html

meta( charset = 'utf-8' )
meta( name="viewport" content="width=device-width, initial-scale=1" )


style.
    * {
        font-family: sans-serif;
    }
    ._content {
        margin: 40px auto;
        width: 70%;
    }
    .CropArea {
    }
    .CropArea-container {
        display: inline-block;
        position: relative;
    }
    .CropArea img {
        display: block;
    }
    .CropArea-left, .CropArea-right, .CropArea-top, .CropArea-bottom, .CropArea-handle {
        position: absolute;
        background-color: rgba( 256, 256, 256, 0.8 );
    }
    .CropArea-left, .CropArea-right {
        width: 3px;
    }
    .CropArea-top, .CropArea-bottom {
        height: 3px;
    }
    .CropArea-handle {
        z-index: 3;
    }
    .CropArea-shade {
        position: absolute;
        background-color: rgba( 256, 256, 256, 0.6 );
    }
    .CropArea-croppedArea {
        position: absolute;
        z-index: 2;
    }
    img {
        max-width: 100%;
    }
    .largeInput {
        font-size: 2em;
    }

div( class = '_content' ng-app = 'testApp' )
    div( ng-controller = 'ctrl as vm' )

        div
            h1 Get scope variables from crop-area
            p x: {{ vm.x }}
            p y: {{ vm.y }}
            p height: {{ vm.height }}
            p width: {{ vm.width }}
            crop-area(
                bound-x = 'vm.x',
                bound-y = 'vm.y',
                bound-width = 'vm.width',
                bound-height = 'vm.height',
            )
                img( src = 'https://upload.wikimedia.org/wikipedia/commons/4/4a/%C5%A0trbac_2.jpg' )

        div
            h1 Enter an aspect ratio
            input.largeInput( ng-model = 'vm.aspectRatio' )
            p Pixel units are used for when no unit is specified
            crop-area(
                border-width = '2px',
                aspect-ratio = 'vm.aspectRatio',
            )
                img( src = 'https://upload.wikimedia.org/wikipedia/commons/4/4a/%C5%A0trbac_2.jpg' )

        div
            h1 Select a cropping area with an aspect ratio
            crop-area(
                aspect-ratio = '0.6'
            )
                img( src = 'https://upload.wikimedia.org/wikipedia/commons/4/4a/%C5%A0trbac_2.jpg' )

p Many thanks to Kovacs.szilard of Wikimedia for releasing the imageunder a public licence.

script( src = 'https://code.angularjs.org/1.4.8/angular.js' )
script( src = 'crop-area.js' )
script.
    angular.module( 'testApp', [ 'cropArea' ] )

    angular.module( 'testApp' ).controller( 'ctrl', function ( $scope ) {
        this.x;
        this.y;
        this.width;
        this.height;
    } );

